<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Personal website"> content= "WDD230 Home Page for Francisco Diaz at Brigham Young University"> == $0
    <title>Francisco Diaz | Home </title>
</head>
<body>
    <h1>Francisco Diaz </h1>
    <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.6435-9/s640x640/122162868_2983148255118335_8989035213272449485_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=J8nlKDHH3cUAX-pB1xh&_nc_ht=scontent-sea1-1.xx&oh=ed2a480fd14f9a66619ecf4bea959d5b&oe=616BC51B" alt="My picture.">
    <div><h2>WDD230: Assignment Portal</h2></div>
    <ul>
        <li>::marker 
            "Lesson 02: "
            Lesson 02: <a href="https://byui.instructure.com/">Assignment link</a></li>
        <li>:marker 
            "Lesson 03: "
            Lesson 03: <a href="https://byui.instructure.com/">Assignment link</a></li>
        <li>:marker 
            "Lesson 04: "
            Lesson 04: <a href="https://byui.instructure.com/">Link | Link</a></li>
    </ul>
<footer>
    <span class="tb">© 2021 | Francisco Diaz | Texas | <a class="byui" href="https://www.byui.edu/online">BYUI Online Learning</a></span> <br>
    <span class="last">Last Time Used: </span><span class="bb" id="year">09/18/2021 13:57:28</span>
</footer>


</body>
</html>

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Roboto+Mono:wght@100&display=swap');

h1 {
  background-color: rgb(40 103 24);
  border-radius: 0.2em;
  color: rgb(79, 141, 177);
  text-align: center;
  font-family: sans-serif;
  font-size: 4em;
  margin-top: 0;
  padding: 0.3em;
  padding-right: 3em;
}
h2 {
  border-bottom: 1px solid rgb(187, 168, 168);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
  float: right;
  box-shadow: 5px 5px 5px rgba(241, 233, 233, 0.425);
  margin-top: -7em;
  margin-right: 3em;
  width: 13em;
  border-radius: 0.5em;
}
div {
  margin-left: 2em;
  color: rgb(6, 8, 107);
  font-size: 1.1em;
}
body {
  background-color: rgb(137 137 232);
  margin: 1rem auto;
  max-width: 850px;
}

a {
  color: rgb(6, 8, 107);
}
.byui {
  color: rgb(255, 255, 255);
}

.bb {
  color: rgb(255, 249, 163);
  font-size: 0.7em;
}
.last {
  color: rgb(255, 249, 163);
  font-size: 0.7em;
}
footer {
  background-color: rgb(40 103 24);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 1em;
}
