@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Snippet&display=swap');

body {
  /* width: 80%;
  margin: 0 auto; */
  background-color: #49516F;
}
div#main {
  width: 80%;
  margin: 0 auto;
  background-color: #EDFFEC;
}

div#content {
  padding: 15px;
  margin: 0 auto;
}

#title {
  color: #EDFFEC;
  font-family: 'Times New Roman', sans-serif;
  background-color: #1b47e6;
  font-size: 3em;
  line-height: 4em;
  padding: 15px;
  text-align: center;
}

nav > ul {
  color: #EDFFEC;
  /* font-weight: bold; */
  display: flex;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  line-height: 2em;
  font-size: 2em;
}
nav > ul > li {
  background-color: #66787b;
  display: block;
  margin: 0 15px;
  text-align: center;
  width: 100%;
}
a:link,
a:visited,
a:hover,
a:active {
  width: 100%;
  display: block;
  color: #;
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: #192f67;
}

div.colorScheme {
  width: 100%;
  height: 75px;
  border: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div#siteHeader {
  color: #EDFFEC;
  font-weight: bold;
  background-color: #1b47e6;
  font-size: 40px;
  /* font-size: 1.5em; */
  font-family: 'Snippet', sans-serif;
}
#primaryNav {
  color: #EDFFEC;
  font-weight: bold;
  background-color: #66787b;
  font-size: 30px;
  /* font-size: 1.5em; */
  font-family: 'Snippet', sans-serif;
}
#Footer {
  color: #EDFFEC;
  /* font-weight: bold; */
  background-color: #192f67;
  font-size: 20px;
  font-family: 'Snippet', sans-serif;
  /* font-size: 1.5em; */
}
#active {
  color: #EDFFEC;
  /* font-weight: bold; */
  background-color: #8fa5cb;
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
}
#H1 {
  color: #3052ce;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}
#H2 {
  color: #3052ce;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}
#H3 {
  color: #3052ce;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

#P {
  font-size: 16px;
  background-color: white;
}

#siteMap {
  width: 100%;
  height: auto;
}

#logo {
  margin: 0 auto;
  width: 25%;
  height: auto;
}

.profilePic {
  width: 15%;
}

#theFonts {
  font-size: 2em;
}

footer {
  background-color: #192f67;
  color: #EDFFEC;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  body {
    background-color: rgb(17, 0, 255);
  }
  nav > ul {
    display: block;
  }
  div.colorScheme {
    height: auto;
  }
}
